<h1>Post Form</h1>

<%= form_tag posts_path do %>
    <label for="post_title">Post title:</label>
    <%= text_field_tag :'post[title]' %>
    <label for="post_description">Post description:</label>
    <%= text_area_tag :'post[description'%>
    <input type="submit" value="Submit Post">
<%end%>

<%= params.inspect %>